<% provide :title, t("admin.orders.allorders") %>
<h1><%= t "admin.orders.allorders" %></h1>

<form class="form-horizontal form-margin">
  <%= search_form_for [:admin, @q] do |f| %>
    <div class="form-group">
      <div class="col-sm-1 control-label">
        <%= f.label :status_eq, t("order.status") %>
      </div>
      <div class="col-sm-3">
        <%= f.select :status_eq, @statuses.collect{|key, value| [t(key), value]},
          {include_blank: false}, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-1 control-label">
        <%= t "searchs.sort" %>
      </div>
      <div class="col-sm-3 field">
        <%= f.sort_fields do |s| %>
          <%= s.sort_select %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <%= f.submit t("searchs.search"), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</form>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t "order.username" %></th>
      <th><%= sort_link @q, :total_pay, t("order.total") %></th>
      <th><%= sort_link @q, :payment, t("order.payment") %></th>
      <th><%= sort_link @q, :created_at, t("order.time") %></th>
      <th><%= t "order.status" %></th>
      <th><%= t "order.delete" %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr id="order-<%= order.id %>">
        <td class="clickable-row" data-href="<%= order_path order %>">
          <%= link_to order.user.name, order.user %>
        </td>
        <td class="clickable-row" data-href="<%= order_path order %>">
          <%= order.total_pay %>
        </td>
        <td class="clickable-row" data-href="<%= order_path order %>">
          <%= order.payment %>
        </td>
        <td class="clickable-row" data-href="<%= order_path order %>">
          <%= order.created_at.strftime t "time_format" %>
        </td>
        <td>
          <div class="btn-group" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-warning"
                <%= disabled="disabled" %>>
                <%= t "admin.orders.ordered" %>
              </button>
            </div>
            <div class="btn-group" role="group">
              <% if order.delivering? %>
                <button type="button" class="btn btn-primary" disabled="disabled">
                  <%= t "admin.orders.delivering" %>
                </button>
              <% else %>
                <%= form_for [:admin, order] do |f| %>
                  <%= f.hidden_field :status, value: "delivering" %>
                  <%= f.submit t("admin.orders.delivering"), class: "btn btn-primary" %>
                  <%= render "shared/error_messages", object: f.object %>
                <% end %>
              <% end %>
            </div>
            <div class="btn-group" role="group">
              <% if order.delivered? %>
                <button type="button" class="btn btn-success" disabled="disabled">
                  <%= t "admin.orders.delivered" %>
                </button>
              <% else %>
                <%= form_for [:admin, order] do |f| %>
                  <%= f.hidden_field :status, value: "delivered" %>
                  <%= f.submit t("admin.orders.delivered"), class: "btn btn-success" %>
                  <%= render "shared/error_messages", object: f.object %>
                <% end %>
              <% end %>
            </div>
          </div>
        </td>
        <td>
          <%= link_to t(:delete), [:admin, order], method: :delete, data:
            {confirm: t(:areyousure)}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
