<div class="col-md-6">
  <%= link_to product_path product do %>
    <div id="product-<%= product.id %>">
      <div class="picture">
        <%= link_to image_tag(product.image.url),
          product_path(product) if product.image? %>
      </div>
      <div class="product-name">
        <%= link_to product.name, product_path(product) %>
      </div>
      <%= product.category.name %>
      <div class="rate">
        <%= t :rating %>
        <%= product.rating %>
      </div>
      <%= t :price %>
      <%= product.price_tag %>
      <%= t :quantity %>
      <%= product.quantity %>
      <%= social_share_button_tag product.name,
        url: "http://fdf_6.com/products/#{product.id}" %>
    </div>
  <% end %>
  <% unless current_user.is_admin? %>
    <%= form_for @order_detail do |f| %>
      <%= f.number_field :quantity, value: 1, min: 1, class: "form-control" %>
      <%= f.hidden_field :product_id, value: product.id %>
      <%= f.submit t("submit"), class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
