<% provide :title, t("order.allorders") %>
<h1><%= t "order.allorders" %></h1>

<div class="col-md-8 col-md-offset-2">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t "order.code" %></th>
        <th><%= t "order.total" %></th>
        <th><%= t "order.payment" %></th>
        <th><%= t "order.status" %></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td class="clickable-row" data-href="<%= order_path order %>">
            <%= link_to order.id, order %>
          </td>
          <td class="clickable-row" data-href="<%= order_path order %>">
            <%= number_to_currency order.total_pay %>
          </td>
          <td class="clickable-row" data-href="<%= order_path order %>">
            <%= order.payment %>
          </td>
          <td class="clickable-row" data-href="<%= order_path order %>">
            <%= order.status %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
