<% if current_order.id == @order.id %>
  <% provide :title, t("order.cart") %>
  <h1><%= t "order.cart" %></h1>
<% else %>
  <% provide :title, t("order.order") %>
  <h1><%= t "order.order" %></h1>
<% end %>

<div class="col-md-9">
  <table class="table table-hover">
    <tr>
      <th></th>
      <th><%= t "order.name" %></th>
      <th><%= t "order.price" %></th>
      <th><%= t "order.quanity" %></th>
      <th><%= t "order.totalprice" %></th>
      <% if current_order.id == @order.id %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
    <%= render @order_details %>
  </table>
  <% if current_order.id == @order.id %>
    <%= link_to t("order.continue"), products_path, class: "btn btn-primary" %>
  <% end %>
</div>

<div class="col-md-3">
  <h3 class="center">
    <%= t "order.total" %>: <%= number_to_currency @order[:total_pay] %>
  </h3>
  <% if current_order.id == @order.id %>
    <% if current_order.order_details.any? %>
      <%= form_for @order do |f| %>
        <%= f.hidden_field :status, value: "ordered" %>
        <%= f.hidden_field :payment, value: "direct" %>
        <div class="form-group">
          <%= f.submit t("order.direct"), class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
      <div class="center form-group">
        <%= t "order.or" %>
      </div>
      <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
        data-target="#order_coin"><%= t "order.coin" %></button>
      <%= form_for @order do |f| %>
        <div class="modal fade" id="order_coin" tabindex="-1" role="dialog"
          aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><%= t "order.coin" %></h4>
              </div>
              <div class="modal-body">
                <%= label_tag "cardnumber", t("order.cardnumber") %>
                <%= text_field_tag "cardnumber" %>
                <%= label_tag "name", t("order.name") %>
                <%= text_field_tag "name" %>
                <%= label_tag "code", t("order.code") %>
                <%= text_field_tag "code" %>
                <%= f.hidden_field :status, value: "ordered" %>
                <%= f.hidden_field :payment, value: "coin" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  <%= t "order.close" %>
                </button>
                <%= f.submit t("submit"), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
