<% if can? :manage, @users %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t "category.name" %></th>
        <th><%= t "action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= link_to category.name, admin_category_path(category) %></td>
          <td>
            <%= link_to t(:delete), [:admin, category], method: :delete, remote: true,
              data: {confirm: t("admin.categories.areyousure")}, class: "btn btn-danger" %>
            <%= link_to t(:edit), edit_admin_category_path(category),
              class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
