<% provide :title, t("admin.categories.createcategory") %>
<h1><%= t "admin.categories.createcategory" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @category] do |f| %>
      <%= render "shared/error_mesages", object: @category %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <h2><%= t :addproducts %></h2>
      <%= f.fields_for :products do |product| %>
        <%= render "product_fields", f: product %>
      <% end %>

      <%= link_to_add_fields t("product.new"), f, :products %><br>

      <%= f.submit t(:create), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
