<% provide :title, t("users.allusers") %>
<h1><%= t "users.allusers" %></h1>

<%= search_form_for [:admin, @q] do |f| %>
  <%= f.label :name_cont, t("user.name") %>
  <%= f.text_field :name_cont, class: "form-control" %>

  <%= f.label :email_start, t("user.email") %>
  <%= f.text_field :email_start, class: "form-control" %>

  <%= f.submit t("searchs.search"), class: "btn btn-primary" %>
<% end %>

<% if can? :manage, @users %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t "users.name" %></th>
        <th><%= t "users.email" %></th>
        <th><%= t "users.created_at" %></th>
        <th><%= t "edit" %></th>
        <th><%= t "delete" %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
          <td><%= link_to t("edit"), edit_admin_user_path(user),
            class: "btn btn-primary" %></td>
          <td><%= link_to t("delete"), admin_user_path(user), method: :delete,
            data: {confirm: t("confirm")}, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
