<table class="table">
  <thead>
    <th><%= t "suggest.user" %></th>
    <th><%= t "suggest.content" %></th>
    <th><%= t "created_at" %></th>
    <th><%= t "action" %></th>
  </thead>
  <tbody>
    <% @suggests.each do |suggest| %>
      <tr>
        <td><%= link_to suggest.user.name, suggest.user %></td>
        <td><%= suggest.content %></td>
        <td><%= suggest.created_at.strftime t "time_format" %></td>
        <td>
          <%= link_to t("delete"), [:admin, suggest], method: :delete,
          data: {confirm: t("destroy_confirm")}, remote: true,
          class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
