<% provide :title, @product.name %>

<div class="row margin-bottom">
  <div class="col-md-6">
    <%= image_tag @product.image.url, alt: t("products.alt"), class:
      "img-responsive img-thumbnail", width: Settings.product_img_show_width,
      height: Settings.product_img_show_height %>
  </div>
  <div class="col-md-6">
    <div id="product-<%= @product.id %>">
      <h2><%= @product.name %></h2>
      <h4 class="category">
        <%= t "products.category" %>:
        <%= @product.category.name %>
      </h4>
      <h4 class="rate">
        <%= t "products.rating" %>:
        <%= @product.rating %>
      </h4>
      <h4 class="rate-form">
        <%= rating_for @product, "quality", star: 10, enable_half: true %>
      </h4>
      <h4 class="price">
        <%= t "products.price" %>:
        <%= @product.price_tag %>
      </h4>
      <h4 class="quantity">
        <%= t "products.quantity" %>:
        <%= @product.quantity %>
      </h4>
      <%= social_share_button_tag @product.name,
        url: "http://fdf_6.com/products/#{@product.id}" %>
    </div>
    <% unless current_user.is_admin? %>
      <%= form_for @order_detail do |f| %>
        <%= f.number_field :quantity, value: 1, min: 1, max: @product.quantity,
          class: "form-control" %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.submit t("order.addtocart"), class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>

<div id="error_mesages"></div>
<div id="comment_<%= @product.id %>">
  <%= render @product.comments, product: @product if @product.comments.any? %>
</div>
<div id="comment-form">
  <%= render "shared/comment_form", product: @product %>
</div>
